$basic-white: #ffffff;
$bg-accent-grey: #eaeaea;
$bg-promo: rgba(104, 183, 56, 0.85);
$dark-grey: #444444;
$dark-grey-2: #222222;
$special-grey-2: #666666;
$basic-grey: #f2f2f2;
$basic-green: #68b738;

$primory-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;
