.benefits__container {
  position: relative;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) and (max-width: ($desktop-width - 1px)) {
    padding-bottom: 46px;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 100%;
      height: 1px;
      background-color: $light-grey;
    }
  }
}

.benefits__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;

    margin-bottom: 33px;
  }
}

.benefits__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: numbers;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(auto-fit, minmax(230px, auto));
    column-gap: 61px;
    row-gap: 37px;
  }

  @media (min-width: $desktop-width) {
    gap: 80px;
  }
}

.benefits__item {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  gap: 20px;


  @media (min-width: $tablet-width) {
    grid-template-columns: 80px auto;
    grid-template-rows: 120px auto;
    justify-items: start;
    align-items: start;
    column-gap: 33px;
    row-gap: 30px;

    &:first-child {
      column-gap: 38px;
    }

    &::before {
      counter-increment: numbers;
      content: counter(numbers);
      grid-column: 2;
      grid-row: 1/3;

      font-family: $secondary-font;
      font-size: 280px;
      font-style: normal;
      font-weight: 400;
      line-height: 280px;
      color: $basic-grey;
    }

    &:nth-child(n + 10)::before {
      grid-column: 1/3;
      justify-self: center;
    }
  }
}

.benefits__decoration {
  display: block;
  position: relative;
  width: 60px;
  height: 60px;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    margin-top: 39px;

    grid-column: 1;
    grid-row: 1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--healthy::before {
    width: 25px;
    height: 28px;
    background-image: url("../../images/icons/stack.svg#leaf");
  }

  &--easy::before {
    width: 27px;
    height: 30px;
    background-image: url("../../images/icons/stack.svg#water");
  }

  &--food::before {
    width: 27px;
    height: 30px;
    background-image: url("../../images/icons/stack.svg#cutlery");
  }

  &--fast::before {
    width: 27px;
    height: 32px;
    background-image: url("../../images/icons/stack.svg#watch");
  }
}

.benefits__text {
  margin: 0;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    width: 245px;

    grid-column: 1/3;
    grid-row: 2;

    br {
      display: inline;
    }
  }
}
