.benefits {

}

.benefits__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
}

.benefits__list {

}

.benefits__item {

}

.benefits__item--healthy {

}

.benefits__item--easy {

}

.benefits__item--food {

}

.benefits__item--fast {

}

.benefits__text {
  font-family: "Lato";
}
