.control-input {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0;
  appearance: none;
  border: 1px solid $special-grey;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.control-input--checkbox:checked {
  background-image: url("../../images/icons/stack.svg#button-check");
  background-size: 18px 14px;
  background-position: center;
  background-repeat: no-repeat;
}

// .control-input--checkbox:checked::before {
//   content: "";
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 13px;
//   height: 13px;
// }

.control-input--radio {
  border-radius: 50%;
}

.control-input--radio:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
  }
}
