.features__container {
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 45px;
  }

  @media (min-width: $dekstop-width) {
    padding-bottom: 71px;
  }
}

.features__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $dekstop-width) {
    flex-direction: row;
    gap: 80px;
  }
}

.features__item {
  box-sizing: border-box;
  position: relative;
  padding: 24px 20px 18px;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    padding: 77px 316px 53px 52px;
  }

  @media (min-width: $dekstop-width) {
    padding: 47px 60px 55px 52px;
    width: 570px;
  }
}

.features__title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
  }

  @media (min-width: $dekstop-width) {
    margin-bottom: 39px;
  }
}

.features__title-decoration {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: $basic-green;

  @media (min-width: $tablet-width) and (max-width: ($dekstop-width - 1px)) {
    position: absolute;
    top: calc(50% + 6px);
    right: 63px;
    transform: translateY(-50%);
    margin: 0;
  }

  @media (min-width: $dekstop-width) {
    margin-right: 62px;
  }

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--weight-loss::before {
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 36px;
    height: 50px;
    background-image: url("../../images/icons/stack.svg#cat-slim");
  }

  &--weight-gain::before {
    top: 50%;
    right: -9px;
    transform: translateY(-50%);
    width: 67px;
    height: 28px;
    background-image: url("../../images/icons/stack.svg#cat-strong");
  }

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;

    &--weight-loss::before {
      top: -11px;
      width: 140px;
      height: 194px;
    }

    &--weight-gain::before {
      top: calc(50% - 2px);
      right: -34px;
      width: 268px;
      height: 112px;
    }
  }

  @media (min-width: $dekstop-width) {
    width: 100px;
    height: 100px;

    &--weight-loss::before {
      top: -6px;
      width: 70px;
      height: 97px;
    }

    &--weight-gain::before {
      right: -15px;
      width: 134px;
      height: 56px;
    }
  }
}

.features__title {
  margin: 0;
  margin-top: -2px;
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;

    margin-top: 0;
  }

  @media (min-width: $dekstop-width) {
    margin-top: -4px;
  }
}

.features__description {
  margin: 0;
  margin-bottom: 15px;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 22px;
    background-color: $grey;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;

    margin-bottom: 48px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $dekstop-width) {
    margin-bottom: 23px;
  }
}

.features__link {
  display: inline-block;
  position: relative;
  padding: 4px 49px 4px 0;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 32px;
    height: 12px;
    background-image: url("../../images/icons/stack.svg#arrow-right");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -8px center;
    transition: 0.2s ease-in-out;
  }

  &:focus-visible::after,
  &:hover::after {
    background-position: center;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding-right: 58px;
    font-size: 20px;
    line-height: normal;
  }
}
