.header {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $dekstop-width) {
    font-size: 20px;
    line-height: normal;
    color: $basic-white;
  }
}

.header__logo-link {
  display: block;
  width: 190px;
  height: 38px;

  @media (min-width: $dekstop-width) {
    width: 174px;
    height: 50px;
  }

  &:focus-visible,
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

// как добавить крестик при открытом меню, как сделать видимым оффсет (как-то на псевдоэлементах)?
.header__toggle {
  width: 24px;
  height: 24px;
  border: 0;
  mask-image: url("../../images/icons/stack.svg#open-menu");
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: #000000;
  cursor: pointer;

  &:disabled {
    opacity: 0.1;
    cursor: default;
  }

  &:focus-visible,
  &:not(:disabled):hover {
    background-color: $basic-green;
  }

  &:not(:disabled):active {
    background-color: $basic-green;
    opacity: 0.3;
  }
}
