.header {
  background-color: #663399;
  color: #ffffff;
  padding: 10px 15px;
}

.header__logo-link {

}

.header__logo {

}

.header__toggle {

}

.header__nav {

}

.header__nav-list {

}

.header__nav-item {

}

.header__nav-link {

}

.header__nav-link--current {

}
