.partnership {

}

.partnership--background {

}

.partnership__text {

}

.partnership__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.partnership__contact-info {

}

.partnership__address {
  font-family: "Lato";
  font-style: normal;
  line-height: 20px;
}

.partnership__map {

}
