.product-card__title {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $dark-grey-2;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.product-card__title--show-more {
  font-family: $secondary-font;
  color: #111111;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.product-card__properties-item {
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.product-card__description-show-more {
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
  }
}

.product-card__link-img--plus {
  display: block;
  width: 30px;
  height: 30px;
  mask-image: url("../../images/icons/stack.svg#plus");
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background-color: #d3d3d3;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
  }

  &:focus-visible,
  &:hover {
    background-color: $basic-green;
  }

  &:active {
    background-color: $basic-green;
    opacity: 0.3;
  }
}
