.program-form {

}

.program-form__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #000000;
}

.program-form__description {
  color: #000000;
  text-transform: uppercase;
}

.program-form__body {

}

.program-form__pet-info {

}

.program-form__text-input-list {

}

.program-form__text-input-item {

}

.program-form__label {
  font-size: 16px;
  text-transform: uppercase;
}

.program-form__text-input {

}

.program-form__diet-list {

}

.program-form__diet-item {

}

.program-form__control-input {

}

.program-form__owner-info {

}

.program-form__legend {
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.program-form__comment {

}

.program-form__additional-options {

}

.program-form__additional-options-list {

}

.program-form__additional-options-item {

}

.program-form__submit {

}

.program-form__button-submit {

}

.program-form__note {

}
