.text-input {
  box-sizing: border-box;
  height: 45px;
  width: 100%;
  min-width: 100px;
  padding: 13px 15px 11px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 18px;
  color: $dark-grey;
  border: 1px solid #e7e7e7;
  text-transform: uppercase;

  &[type="number"],
  &[type="number"]:hover,
  &[type="number"]:focus {
    appearance: textfield;
  }

  &[type="number"]::-webkit-outer-spin-button,
  &[type="number"]::-webkit-inner-spin-button {
    appearance: none;
  }

  @media (min-width: $tablet-width) {
    height: 52px;
    min-width: 250px;
    padding: 11px 19px 9px;

    font-size: 20px;
    line-height: normal;
  }

  &:invalid {
    border: 2px solid $status-error;
  }

  &:disabled {
    opacity: 0.1;
    cursor: default;
  }

  &:not(:disabled):hover {
    border-color: $special-grey;
  }

  &:focus-visible {
    outline: 0;
    border: 2px solid $dark-grey;
  }
}

.text-input--comment {
  width: 100%;
  min-height: 150px;
  padding-left: 14px;
  padding-right: 14px;
  appearance: none;
  resize: none;

  @media (min-width: $tablet-width) {
    min-height: 175px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 8px;
  }
}

.text-input--email,
.text-input--phone {
  padding-right: 35px;

  @media (min-width: $desktop-width) {
    padding-right: 40px;
  }
}
