.text-input {
  box-sizing: border-box;
  min-height: 45px;
  padding: 13px 15px 11px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 18px;
  color: $dark-grey;
  border: 1px solid #e7e7e7;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
  }

  // &:invalid {
  //   border: 2px solid $status-error;
  // }

  &:disabled {
    opacity: 0.1;
    cursor: default;
  }

  &:focus-visible {
    border-color: $dark-grey;
  }

  &:not(:disabled):hover {
    border-color: $special-grey;
  }
}

.text-input--comment {
  @media (min-width: $tablet-width) {
    line-height: 30px;
  }
}
